# Without Docker Local Setup
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
NEXT_PUBLIC_SECRET=YOUR_NEXTAUTH_SECRET
NEXT_PUBLIC_WSS_URL="ws://localhost:8080"

# With Docker 

# APP
APP_PORT=3000
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
NEXTAUTH_SECRET="YOUR_NEXTAUTH_SECRET"
NEXT_PUBLIC_SECRET="YOUR_NEXTAUTH_SECRET"
NEXT_PUBLIC_WSS_URL="ws://localhost:3000"

# Postgres DB
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
POSTGRES_PORT=5432

# Prisma-Studio
POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/postgres
POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
PRISMA_STUDIO_PORT=5555
POSTGRES_PATH=postgres-data

